@import './formation-442.scss';
@import './formation-4411.scss';
@import './formation-3421.scss';

* {
  box-sizing: border-box;
}

html,
body,
.container,
.formation {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  background: url('/img/pitch-bg.png');
}

@media (max-width: 499px) {
  body {
    font-size: 12px;
  }
}
