@media (min-width: 321px) {
  .formation-442 {
    .formation-player {
      &.player-1 {
        width: 50%;
      }
      &.player-5,
      &.player-4 {
        width: 35%;
      }
      &.player-6,
      &.player-8 {
        width: 15%;
      }
      &.player-9 {
        width: 15%;
        margin-right: auto;
      }
      &.player-10 {
        width: 35%;
        margin-left: auto;
      }
    }
  }
}
